/* Bot Avatar Styles */
.bot-avatar {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    background-color: #1976D2;
    margin-right: 15px;
    color: #fff;
}
